/* Font Damion (font-family: 'Damion', cursive;) */
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
/* Font Kalam (font-family: 'Kalam', cursive;) */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

@keyframes burnShadow {
    0% {text-shadow: 0 0 1px black;}
    30% {text-shadow: 0 0 1px rgb(161, 0, 0),
                      0 0 2px black;}
    100% {text-shadow: 0 0 3px black;}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background-color: rgb(238, 196, 157);
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 1.2rem;
}

.width-container {
    width: 70%;
    margin: auto;
}

/* --- Nav-bars --- */

header {
    position: sticky;
    top: 0;
    padding: 10px 0;
    z-index: 10;
}

nav,
.gallery-nav {
    position: relative;
    height: 5rem;
    padding: 10px;
    min-width: 300px;
    background-image: url("./Images/nav.jpg");
    border-radius: 10px;
    box-shadow: 0 0 15px black;
}

section {
    position: sticky;
    bottom: 0;
}

.gallery-nav {
    bottom: 10px;
    height: 3.1rem;    
}

ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#logo {
    font-family: 'Damion', cursive;
    font-size: 3rem;
}

li,
li a {
    cursor: pointer;
    font-size: 2rem;
    text-shadow: 0 0 1px black;
    transition: all 500ms linear;
}

li:hover,
li a:hover {
    animation: burnShadow 500ms;
    text-shadow: 0 0 3px black;
}

/* --- Main --- */

#gallery {
    padding: 20px 0;
    min-height: 70vh;
    text-align: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.gallery-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(53, 27, 27);
    background-color: rgb(255, 255, 255, 0.4);
    transition: all 150ms linear;
}

.gallery-item:hover{
    font-weight: 600;
    transform: scale(1.02);
    background-color: rgb(255, 255, 255, 0.7);
}

.gallery-item img {
    width: 100%;
    margin-bottom: 25px;
}

.gallery-item p {
    font-size: 1.3rem;
}

#welcome {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#welcome h1, h2 {
    margin: 20px 0;
}


/* Modal */

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    min-height: 100svh;
    background-color: rgba(0, 0, 0, 0.95);
    color: #8e6f52;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    display: none;
}
.myModal {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    text-align: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-img {
    max-height: 95svh;
    max-width: 90%;
    /* height: 100%; */
    pointer-events: none;
}

.modal-title {
    color: #FAEDE2;
    opacity: 0.7;
    font-size: 3rem;
    text-shadow: 1px 1px black;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 1rem;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 400;
}
.modal-container button {
    border-radius: 5px;
}
#closeModal {
    position: absolute;
    z-index: 200;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    color: black;
    background-color: #EEC49D;
}
#arrow-left {
    position: absolute;
    width: 40px;
    height: 40px;
    color: black;
    background-color: #EEC49D;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}
#arrow-right {
    position: absolute;
    width: 40px;
    height: 40px;
    color: black;
    background-color: #EEC49D;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

#closeModal:hover,
#arrow-left:hover,
#arrow-right:hover {
    background-color: #be946d;
}



/* --- Footer --- */

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: rgb(167, 124, 84);
}


/* --- LightBox --- */

#lightbox {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(51, 45, 40);
    justify-content: center;
    align-items: center;
    display: flex;
    display: none;
}
#lightbox img {
    max-width: 90%;
    max-height: 90%;
}


/* --- Welcome --- */

.welcome-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 5rem;
    z-index: 1000;
    
    animation: hide-welcome;
    animation-delay: 3s;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}
.welcome-up,
.welcome-down {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    padding: 0;
    justify-content: center;
    background-image: url("./Images/nav.jpg");
    overflow: hidden;
    z-index: 1000;
}
.welcome-up {
    /* transform: translateY(-0%); */
    animation-name: slide-up;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.welcome-up h1 {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);

}
.welcome-down {
    /* transform: translateY(0%); */
    animation: slide-down;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.welcome-down h1 {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}

.welcome-down h1,
.welcome-up h1 {
    animation: burn-effect;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes burn-effect {
    0% {
        opacity: 0;
        color: rgb(153, 0, 0);
    }
    50% {
        opacity: 1;
        color: rgb(71, 0, 0);
        text-shadow: 0 0 5px black;
    }
    100% {
        color: black;
        text-shadow: 0 0 1px black;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
        display: none;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
        display: none;
    }
}

@keyframes hide-welcome {
    0% {
        display: flex;
    }
    100% {
        display: none;
    }
}


/* --- Media Query --- */

@media screen and (max-width: 1240px) {
    .width-container {
        width: 80%;
    }
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    .width-container {
        width: 90%;
    }
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {
    #gallery {
        gap: 15px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 500px) {
    .gallery-nav {
        width: 90%;
    }
    html {
        font-size: 10px;
    }
    .welcome-container {
        font-size: 4rem;
    }
}
